#infoSection{
    background: linear-gradient(0deg, rgba(35,39,48,1) 0%, rgba(10,10,10,1) 100%);
    .text{
        text-align: center;
        line-height: 30px
    }
}
@media (min-width: 768px){
    #infoSection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .text{
            grid-column: 1/4;
            margin-top: 3rem;
        }
    }
}