html, body {
    background-color: $background;
}
section{
    overflow-x: hidden;
    padding: 3rem 1rem 6rem 1rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
@media (min-width: 1024px){
    section{
        padding: 3rem 2rem 6rem 2rem;
    }
}

/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 8px;
} 
/* Track */
::-webkit-scrollbar-track {
    
}  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $grey; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303030; 
}