html, body {
    background-color: $background;
}
section{
    padding: 1rem;
    overflow-x: hidden;
}
/*SCROLL BAR*/
/* width */
// ::-webkit-scrollbar {
//     width: 8px;
// } 
// /* Track */
// ::-webkit-scrollbar-track {
//     background: $dark; 
// }  
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background: $background; 
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #2d3e5a; 
// }