#notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem 1rem;
    h2{
        font-size: clamp(28px, 10vw, 72px);
        background: -webkit-linear-gradient(0deg, rgba(202,3,74,1) 0%, rgba(27,170,206,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
    }
    p{
        font-size: 14px;
        text-align: center;
        color: $white;
        margin-bottom: 1rem;
    }
    .error404{
        font-size: clamp(18px, 4vw, 22px);
    }
    a{
        display: block;
        font-size: 18px;
        margin-top: 4rem;
        color: $white;
        background-color: $blue;
        padding: 10px 20px;
        border-radius: 20px;
    }
}